{% extends 'blog/Base.html' %}
{% block title %}|{{article.title}} {% endblock %}
{% block Article %}

<header class="masthead" style="background-image: url('{{article.thumbnail.url}} ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 max-auto">
              <div class="site-heading">
                  <center>
                    <h1>{{article.title}} </h1>
                  </center>
              </div>
          </div>
      </div>
    </div>
</header>

<center>
     <article>
        
         <h1>{{article.title}}</h1>
         <small> {{article.publish}} </small>
         <p> {{article.description|linebreaks}} </p>
     </article
</center>
{% endblock %}